<div class="edit-row">
	<div class="section gf-form-group">
		<div class="gf-form">
			<div class="gf-form">
				<img ng-src="{{ ctrl.image || '//:0' }}" ng-show="ctrl.image !== null" width="640" height="480" />
			</div>
		</div>
		<div class="section gf-form-button-row">
			<button	type="button"
				class="btn gf-form-button btn-first"
				ng-click='ctrl.moveTo("first")'
				data-placement="bottom">
				<i class="fa fa-caret-left"></i>&nbsp;&nbsp;First
			</button>
			
			<button type="button"
				class="btn gf-form-button btn-danger"
				ng-click="ctrl.playBack()">
				<i class="fa fa-step-backward"></i>&nbsp;&nbsp;Back
			</button>

			<button type="button"
				class="btn gf-form-button btn-danger"
				ng-click="ctrl.rewind()">
				<i class="fa fa-backward"></i>&nbsp;&nbsp;Rewind
			</button>

			<button type="button"
				class="btn gf-form-button btn-danger"
				ng-click="ctrl.play()">
				<i class="fa fa-forward"></i>&nbsp;&nbsp;Play
			</button>

			<button type="button"
				class="btn gf-form-button btn-danger"
				ng-click="ctrl.playNext()">
				<i class="fa fa-step-forward"></i>&nbsp;&nbsp;Next
			</button>

			<button type="button"
				class="btn gf-form-button btn-danger"
				ng-click="ctrl.stop()">
				<i class="fa fa-stop"></i>&nbsp;&nbsp;Stop
			</button>

			<button	type="button"
				class="btn gf-form-button btn-last"
				ng-click='ctrl.moveTo("last")'
				data-placement="bottom">
				<i class="fa fa-caret-right"></i>&nbsp;&nbsp;Last
			</button>
		</div>
	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Data</h5>
		<div class="gf-form">
			<label class="gf-form-label width-7">Event #</label>
			<input type="number" class="gf-form-input width-13" ng-model="ctrl.rowIndex" ng-model-onblur>
		</div>
		<div class="gf-form" ng-repeat="col in ctrl.table.columns" ng-hide="col.hidden">
			<label class="gf-form-label width-7">{{col.title}}</label>
			<input type="text" class="gf-form-input width-13" ng-model="ctrl.current[$index]" ng-model-onblur>
		</div>
	</div>
</div>

<div class="table-panel-container">
	<div class="table-panel-header-bg" ng-show="ctrl.table.rows.length"></div>
	<div class="table-panel-scroll" ng-show="ctrl.table.rows.length">
		<table class="table-panel-table">
			<thead>
				<tr>
					<th ng-repeat="col in ctrl.table.columns" ng-hide="col.hidden">
						<div class="table-panel-table-header-inner pointer" ng-click="ctrl.toggleColumnSort(col, $index)">
							{{col.title}}
							<span class="table-panel-table-header-controls" ng-if="col.sort">
								<i class="fa fa-caret-down" ng-show="col.desc"></i>
								<i class="fa fa-caret-up" ng-hide="col.desc"></i>
							</span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<div class="datapoints-warning" ng-show="ctrl.table.rows.length === 0">
	<span class="small" >
		No data to show <tip>Nothing returned by data query</tip>
	</span>
</div>
<div class="table-panel-footer">
</div>

